In [1]:
import nltk

In [2]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [3]:
import pandas as pd

In [5]:
fake=pd.read_csv("Fake-210604-161841.csv")
genuine=pd.read_csv("True-210604-161650.csv")

In [6]:
display(fake.info())
display(genuine.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23481 entries, 0 to 23480
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    23481 non-null  object
 1   text     23481 non-null  object
 2   subject  23481 non-null  object
 3   date     23481 non-null  object
dtypes: object(4)
memory usage: 733.9+ KB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21417 entries, 0 to 21416
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    21417 non-null  object
 1   text     21417 non-null  object
 2   subject  21417 non-null  object
 3   date     21417 non-null  object
dtypes: object(4)
memory usage: 669.4+ KB

None

In [7]:
display(fake.head())
display(genuine.head())

                                               title  ...               date
0   Donald Trump Sends Out Embarrassing New Year’...  ...  December 31, 2017
1   Drunk Bragging Trump Staffer Started Russian ...  ...  December 31, 2017
2   Sheriff David Clarke Becomes An Internet Joke...  ...  December 30, 2017
3   Trump Is So Obsessed He Even Has Obama’s Name...  ...  December 29, 2017
4   Pope Francis Just Called Out Donald Trump Dur...  ...  December 25, 2017

[5 rows x 4 columns]

                                               title  ...                date
0  As U.S. budget fight looms, Republicans flip t...  ...  December 31, 2017
1  U.S. military to accept transgender recruits o...  ...  December 29, 2017
2  Senior U.S. Republican senator: 'Let Mr. Muell...  ...  December 31, 2017
3  FBI Russia probe helped by Australian diplomat...  ...  December 30, 2017
4  Trump wants Postal Service to charge 'much mor...  ...  December 29, 2017

[5 rows x 4 columns]

In [8]:
display(fake.subject.value_counts())
print('\n')
display(genuine.subject.value_counts())

News               9050
politics           6841
left-news          4459
Government News    1570
US_News             783
Middle-east         778
Name: subject, dtype: int64

politicsNews    11272
worldnews       10145
Name: subject, dtype: int64

In [10]:
fake['target']=0
genuine['target']=1

In [11]:
display(fake.head())
display(genuine.head())

                                               title  ... target
0   Donald Trump Sends Out Embarrassing New Year’...  ...      0
1   Drunk Bragging Trump Staffer Started Russian ...  ...      0
2   Sheriff David Clarke Becomes An Internet Joke...  ...      0
3   Trump Is So Obsessed He Even Has Obama’s Name...  ...      0
4   Pope Francis Just Called Out Donald Trump Dur...  ...      0

[5 rows x 5 columns]

                                               title  ... target
0  As U.S. budget fight looms, Republicans flip t...  ...      1
1  U.S. military to accept transgender recruits o...  ...      1
2  Senior U.S. Republican senator: 'Let Mr. Muell...  ...      1
3  FBI Russia probe helped by Australian diplomat...  ...      1
4  Trump wants Postal Service to charge 'much mor...  ...      1

[5 rows x 5 columns]

In [12]:
data=pd.concat([fake,genuine],axis=0)

In [13]:
data=data.reset_index(drop=True)
data=data.drop(['subject','date','title'],axis=1)

In [14]:
print(data.columns)
print(data)

Index(['text', 'target'], dtype='object')
                                                    text  target
0      Donald Trump just couldn t wish all Americans ...       0
1      House Intelligence Committee Chairman Devin Nu...       0
2      On Friday, it was revealed that former Milwauk...       0
3      On Christmas day, Donald Trump announced that ...       0
4      Pope Francis used his annual Christmas Day mes...       0
...                                                  ...     ...
44893  BRUSSELS (Reuters) - NATO allies on Tuesday we...       1
44894  LONDON (Reuters) - LexisNexis, a provider of l...       1
44895  MINSK (Reuters) - In the shadow of disused Sov...       1
44896  MOSCOW (Reuters) - Vatican Secretary of State ...       1
44897  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...       1

[44898 rows x 2 columns]

 **TOKENIZATION**

In [15]:
from nltk.tokenize import word_tokenize
data['text']=data['text'].apply(word_tokenize)

In [16]:
print(data.head(10))

                                                text  target
0  [Donald, Trump, just, couldn, t, wish, all, Am...       0
1  [House, Intelligence, Committee, Chairman, Dev...       0
2  [On, Friday, ,, it, was, revealed, that, forme...       0
3  [On, Christmas, day, ,, Donald, Trump, announc...       0
4  [Pope, Francis, used, his, annual, Christmas, ...       0
5  [The, number, of, cases, of, cops, brutalizing...       0
6  [Donald, Trump, spent, a, good, portion, of, h...       0
7  [In, the, wake, of, yet, another, court, decis...       0
8  [Many, people, have, raised, the, alarm, regar...       0
9  [Just, when, you, might, have, thought, we, d,...       0

In [17]:
from nltk.stem.snowball import SnowballStemmer
porter=SnowballStemmer("english",ignore_stopwords=False)

In [18]:
def stem_it(text):
  return[porter.stem(word) for word in text]

In [19]:
data['text']=data['text'].apply(stem_it)

In [20]:
print(data.head(10))

                                                text  target
0  [donald, trump, just, couldn, t, wish, all, am...       0
1  [hous, intellig, committe, chairman, devin, nu...       0
2  [on, friday, ,, it, was, reveal, that, former,...       0
3  [on, christma, day, ,, donald, trump, announc,...       0
4  [pope, franci, use, his, annual, christma, day...       0
5  [the, number, of, case, of, cop, brutal, and, ...       0
6  [donald, trump, spent, a, good, portion, of, h...       0
7  [in, the, wake, of, yet, anoth, court, decis, ...       0
8  [mani, peopl, have, rais, the, alarm, regard, ...       0
9  [just, when, you, might, have, thought, we, d,...       0

**STOPWORD REMOVAL**

In [21]:
def stop_it(t):
  dt=[word for word in t if len(word)>2]
  return dt

In [22]:
data['text']=data['text'].apply(stop_it)

In [23]:
print(data['text'].head(10))

0    [donald, trump, just, couldn, wish, all, ameri...
1    [hous, intellig, committe, chairman, devin, nu...
2    [friday, was, reveal, that, former, milwauke, ...
3    [christma, day, donald, trump, announc, that, ...
4    [pope, franci, use, his, annual, christma, day...
5    [the, number, case, cop, brutal, and, kill, pe...
6    [donald, trump, spent, good, portion, his, day...
7    [the, wake, yet, anoth, court, decis, that, de...
8    [mani, peopl, have, rais, the, alarm, regard, ...
9    [just, when, you, might, have, thought, get, b...
Name: text, dtype: object

In [24]:
data['text']=data['text'].apply(' '.join)

**SPLITTING OF DATA**

In [25]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(data['text'],data['target'],test_size=0.25)
display(x_train.head())
print('\n')
display(y_train.head())

37823    madrid reuter two former member the catalan go...
29534    cannon ball n.d. reuter tribal leader protest ...
29028    ottawa reuter canadian prime minist justin tru...
16508    wow the peopl california might lose the right ...
37673    seoul reuter hundr thousand rohingya muslim wh...
Name: text, dtype: object

37823    1
29534    1
29028    1
16508    0
37673    1
Name: target, dtype: int64

**VECTORIZATION**

In [27]:
from sklearn.feature_extraction.text import TfidfVectorizer
my_tfidf=TfidfVectorizer(max_df=0.7)

tfidf_train=my_tfidf.fit_transform(x_train)
tfidf_test=my_tfidf.transform(x_test)

In [28]:
print(tfidf_train)

  (0, 73220)	0.06709158242015545
  (0, 42414)	0.03299732074152407
  (0, 25643)	0.023938331140698755
  (0, 76355)	0.045502993076204645
  (0, 21763)	0.032051230147129475
  (0, 54278)	0.03305446301237055
  (0, 88189)	0.0234911314175314
  (0, 38948)	0.02275423542939424
  (0, 87780)	0.05410812977553808
  (0, 10979)	0.03855068274281021
  (0, 29924)	0.03847229085219863
  (0, 42793)	0.02616016398563616
  (0, 13690)	0.06445434199076537
  (0, 66280)	0.06608523477998308
  (0, 18074)	0.05782065660514665
  (0, 61251)	0.0546202941297225
  (0, 8210)	0.022483121697975325
  (0, 88359)	0.03339237223942692
  (0, 69051)	0.06915982344385303
  (0, 74275)	0.024142649704448578
  (0, 29907)	0.05261182358741981
  (0, 1)	0.030013689487526397
  (0, 885)	0.05564958886921307
  (0, 12449)	0.061434496717701
  (0, 32555)	0.08680296675023783
  :	:
  (33672, 73728)	0.06721509019997814
  (33672, 60565)	0.035650520237744766
  (33672, 61254)	0.036498381590858935
  (33672, 7355)	0.03320085688132941
  (33672, 14217)	0.08549010640623844
  (33672, 86557)	0.2709500380676479
  (33672, 12256)	0.09164870113344371
  (33672, 61236)	0.043717988594775305
  (33672, 88591)	0.07470529435496448
  (33672, 32750)	0.09896142291765278
  (33672, 9515)	0.09050696586048032
  (33672, 83175)	0.10210199843630628
  (33672, 31688)	0.06315900298340624
  (33672, 65995)	0.06842891772181002
  (33672, 38948)	0.0447332142924885
  (33672, 8210)	0.04420022390998012
  (33672, 81340)	0.05770179084906625
  (33672, 46857)	0.11130897502498298
  (33672, 17581)	0.04190821557400258
  (33672, 10179)	0.13205831565524237
  (33672, 75231)	0.048490129832690874
  (33672, 36297)	0.050149597945335335
  (33672, 65657)	0.15866662561752704
  (33672, 8176)	0.035297692634922335
  (33672, 33283)	0.028068449863872986

**LOGIC** **REGRESSION**

In [29]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [30]:
model_1=LogisticRegression(max_iter=900)
model_1.fit(tfidf_train, y_train)
pred_1=model_1.predict(tfidf_test)
cr1=accuracy_score(y_test,pred_1)
print(cr1*100)

98.96659242761693

**PASSIVE AGGRESSIVE CLASSIFIER**

In [32]:
from sklearn.linear_model import PassiveAggressiveClassifier

model=PassiveAggressiveClassifier(max_iter=50)
model.fit(tfidf_train,y_train)

PassiveAggressiveClassifier(C=1.0, average=False, class_weight=None,
                            early_stopping=False, fit_intercept=True,
                            loss='hinge', max_iter=50, n_iter_no_change=5,
                            n_jobs=None, random_state=None, shuffle=True,
                            tol=0.001, validation_fraction=0.1, verbose=0,
                            warm_start=False)

In [33]:
y_pred=model.predict(tfidf_test)
accscore=accuracy_score(y_test,y_pred)
print('The accuracy of prediction is:',accscore*100)

The accuracy of prediction is: 99.6881959910913